[tool.black]
line-length = 88
target-version = ['py36', 'py37', 'py38']
include = '\.pyi?$'

[tool.mypy]
warn_unused_ignores = true
strict_equality = true
disallow_any_unimported = true
disallow_untyped_calls = true

[tool.pylic]
safe_licenses = [
  "Apache Software License",
  "MIT License",
#  "GNU Library or Lesser General Public License (LGPL)",
  "Mozilla Public License 2.0 (MPL 2.0)",
  "BSD License",
  "Historical Permission Notice and Disclaimer (HPND)",
]
