#
# Run integration tests.
#
name: Integration Test

on:
  workflow_call:
  workflow_dispatch:

jobs:
  pytest:
    name: Run Integration Tests
    timeout-minutes: 30
    strategy:
      matrix:
        os:
          - "ubuntu-22.04"
          - "windows-2022"
        python-version:
          - "3.8"
          - "3.14"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Cache dependencies
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-test-${{ hashFiles('pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-test-

    - name: Install dependencies
      run: |
        python -m pip install pip
        pip install -e .[test]
    - name: Run Integration Testing
      env:
          MINDEE_API_KEY: ${{ secrets.MINDEE_API_KEY_SE_TESTS }}
          WORKFLOW_ID: ${{ secrets.WORKFLOW_ID_SE_TESTS }}
          MINDEE_V2_API_KEY: ${{ secrets.MINDEE_V2_SE_TESTS_API_KEY }}
          MINDEE_V2_FINDOC_MODEL_ID: ${{ secrets.MINDEE_V2_SE_TESTS_FINDOC_MODEL_ID }}
          MINDEE_V2_SE_TESTS_BLANK_PDF_URL: ${{ secrets.MINDEE_V2_SE_TESTS_BLANK_PDF_URL }}
          MINDEE_V2_SE_TESTS_SPLIT_MODEL_ID: ${{ secrets.MINDEE_V2_SE_TESTS_SPLIT_MODEL_ID }}
      run: |
        pytest --cov mindee -m integration

    - name: Notify Slack Action on Failure
      uses: ravsamhq/notify-slack-action@2.3.0
      if: ${{ always() && github.ref_name == 'main' }}
      with:
        status: ${{ job.status }}
        notify_when: "failure"
        notification_title: "[Python] Integration test '{workflow}' is failing"
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.PRODUCTION_ISSUES_SLACK_HOOK_URL }}
