#
# Run unit tests.
#
name: Test

on:
  - push

jobs:
  pytest:
    name: Run Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-test-${{ hashFiles('**/setup.py') }}
        restore-keys: |
          ${{ runner.os }}-test-

    - name: Install dependencies
      run: |
        python -m pip install pip
        pip install -e .[test]

    - name: Testing the code with pytest
      run: |
        pytest
